
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

html{
	height: 100vh;
	font-size: 14px;
}

body{
	background-color: #000000;
	background-size: cover; /* Ajusta a imagem para cobrir o elemento */
  background-repeat: no-repeat; /* Evita repetição da imagem */
	overflow: hidden; /* Remove a rolagem */

	height: 100%;
}

.container{
	overflow: hidden; /* Remove a rolagem do elemento */
	height: 100%;
	max-width: 550px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	color: #ffffff;
}

.container img{
  width: 30%; /* Tamanho da imagem */
  height: 45%; /* Tamanho da imagem */
	padding: 0.2em;
	background: linear-gradient(45deg, #2500cc, #c5577c, hsl(251, 69%, 76%), #2500cc); /* Gradiente estilo Instagram */
  border-radius: 100%; /* Torna a imagem circular */
  object-fit: cover; /* Ajusta a imagem ao círculo */
  background-color: #ffffff; /* Cor de fundo para suavidade */
	object-position: 0% 50%; /* Ajusta a posição da imagem */
	animation: rgb-line 7s infinite linear; /* Animação contínua */
	background-size: 300%; /* Aumenta o tamanho do gradiente para dar efeito de movimento */
	pointer-events: none; /* Bloqueia cliques na imagem */
  user-select: none; /* Bloqueia seleção */

}

.container p{
	padding: 0.2em;
	
}

a{
	text-decoration: none;
	color: #fff;
}

.degrade{
	background: linear-gradient(to right, #2500cc, #c5577c, hsl(251, 69%, 76%), #2500cc);
	animation: rgb-line 7s infinite linear; /* Animação contínua */
	background-size: 300%; /* Aumenta o tamanho do gradiente para dar efeito de movimento */
}

/* ESTILO DO HEADER */

header{
	text-align: center;
	margin-bottom: 0px;
}



header h1{
	font-size: 2em;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: 300;
}

header p{
	font-size: 0.1;
}

/* ESTILO DOS BOTÕES */

section.botoes-links{
	display: flex;
	flex-direction: column;
	gap: 1.7em;
	padding: 1em;
}

a.link button{
	width: 100%;
	padding: 9px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	border-radius: 9px;
	font-size: 1em;
	cursor: pointer;
	color: #fff;
	transition: .2s;
}

a.link i{
	font-size: 1.5em;
}

a.link button:hover, footer a.btn-footer:hover{
	transform: scale(1.05);
}

/* ESTILO DO FOOTER */

.icons-button{
	text-align: center;
	margin: 1%;
}

.icons-button a.btn-footer{
	width: 60px;
	height: 60px;
	display: inline-block;
	font-size: 1.8em;
	line-height: 60px;
	border-radius: 100%;
	margin: 0 7px;
	transition: .2s;
}

/* Estilo do footer */
footer {
  color: #fff; /* Texto claro */
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
}

footer p {
  margin: 0;
}

@keyframes rgb-line {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .container img {
    width:30vw; /* Ajusta o tamanho para 40% da largura da tela */
    height: 30vw; /* Mantém a proporção */
  }

  header h1 {
    font-size: 1.5em; /* Ajusta o tamanho do texto em telas menores */
  }

}


